/* Font Family Import */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@400;500;600;700&display=swap");

/* animation CSS */
@keyframes sliding {
  0% {
    background-color: aliceblue;
    transform: scale(1.2);
  }
  100% {
    background-color: rgb(255, 247, 222);
  }
}
/* Default CSS */
* {
  margin: 0;
  font-family: "Work Sans";
}

/* Max-Width Mention */
main {
  max-width: 1220px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

/* Primary CSS */
.primary_color {
  color: #ff900e;
}

.primary_bg_color {
  background-color: #ff900e;
}

.secondary_bg_color {
  background-color: #fff4e7;
}

/* Navbar Section CSS Design */
.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.nav_container {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 500px;
}
.nav_logo {
  margin-top: 50px;
  font-size: 45px;
  font-weight: 700;
}
.nav_container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 50px;
}
.nav_container ul li {
  list-style: none;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
}

/* Banner Section CSS Design */
.banner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* margin: 50px 0px; */
  max-width: 1220px;
}
.banner_details {
  width: 868px;
  margin: 70px auto;
  text-align: center;
}
.banner_details h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 30px;
}
.banner_details p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 26px;
  color: #727272;
}
button {
  border: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 8px;
  padding: 15px 25px;
}

.banner_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.banner_img img {
  width: 100%;
  margin-bottom: 70px;
}

/* Our Features Section CSS Design */
.features_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 92px;
  margin: 85px 0;
}
.features_images_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.feature_img img {
  width: 100%;
}

.feature_h1 {
  font-size: 45px;
  font-weight: 500;
  color: #727272;
}
.feature_h2 {
  font-size: 45px;
  font-weight: 500;
  color: #131313;
}
.feature_h3 {
  font-size: 45px;
  font-weight: 500;
  color: #ff900e;
}
.features_content p {
  margin: 24px 0;
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* Features You Section CSS Design */
.feature_you_container {
  display: flex;
  gap: 120px;
  margin: 130px 0;
}
.feature_you_Content {
  text-align: left;
}
.you_header {
  border-left: 5px solid #ff900e;
  margin-bottom: 24px;
}
.you_header h2 {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin-left: 21px;
}
.you_dis {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 26px;
}

.feature_you_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.feature_you_img img {
  width: 100%;
}

.feature_content_card {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 30px;
}
.feature_content_card h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.feature_content_card p {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  line-height: 26px;
}

/* 10+Year Section Start */
.year_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.year_content {
  text-align: center;
  padding: 36px 32px;
  border-radius: 8px;
  margin-top: -470px;
  margin-left: 400px;
}
.year_content h2 {
  color: white;
  font-size: 55px;
  font-weight: 700;
}
.year_content p {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
/* Some Facts Section CSS Design */
.some_facts_container h2 {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  margin-bottom: 20px;
}
.some_facts_container p {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  line-height: 26px;
}
.facts_items_Container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
}
.fact_item {
  text-align: center;
  padding: 45px 36px;
  border: 1px solid #ff900e;
  border-radius: 8px;
}

.fact_item:hover {
  background-color: #fff4e7;
  position: relative;
  animation: sliding 1s ease-in-out 0.5s infinite alternate;
  animation-play-state: running;
}
.fact_item h2 {
  font-size: 45px;
  font-weight: 600;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact_item p {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}

/* Our Sponspor Section CSS Design  */
.sponsors_container {
  text-align: center;
  margin-top: 180px;
}
.sponsors_container h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 15px;
}
.sponsors_container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #727272;
  margin-bottom: 50px;
}
.sponsers_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}
.sponsers_logo img {
  filter: grayscale(100%);
}
.sponsers_logo img:hover {
  filter: none;
}

/* Footer Section CSS */
footer {
  text-align: center;
  max-width: 1220px;
  margin: 0 auto;
  background-color: #fff4e7;
  padding: 40px 50px;
  border-radius: 8px;
  color: #424242;
}
